* {
    padding: 0px;
    margin: 0px;
}

/* Apply blur effect to the background image */
.banner-back {
    background-image: url(/assets/image/Flag-United-Arab-Emirates.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 1;
}

.blur{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0.4));
    z-index: -1;
}

/* Position the container and set the stacking order */
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    flex: 1;
    max-width: 300px; /* Adjust as needed */
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease; /* Add transition for hover effect */
    border: 0;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Gradient overlay */
    border-radius: 15px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add transition for fade effect */
}

.card:hover::before {
    opacity: 1; /* Show overlay on hover */
}

.card:hover {
    transform: translateY(-5px); /* Add slight lift on hover */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0; /* Rounded corners for the top */
}

.intro {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
    background-color: #f8f9fa; /* Assuming text-bg-light refers to a light background color */
    padding: 0.5rem; /* Assuming p-2 refers to padding */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
    .second {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        /* Center align items vertically */
    }

    .card {
        max-width: calc(100% - 40px);
        /* Full width with some margin */
    }
}

@media only screen and (max-width: 480px) {
    .card {
        max-width: calc(100% - 40px);
        /* One card per row */
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-1 {
    font-size: 2rem;
    /* You can adjust the size as needed */
}

.street-six {
    font-style: italic;
    font-size: 1.3em;
}

.street-th {
    font-size: 0.8em;
    margin-left: -8px;
}

.street {
    font-style: italic;
    font-size: 1.3em;
}

.street-com {
    font-size: 0.8em;
}






/* part 2 */
* {
    padding: 0px;
    margin: 0px;
}

/* Apply blur effect to the background image */
.banner-back {
    background-image: url(/assets/image/Flag-United-Arab-Emirates.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 1;
}

.blur{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0.4));
    z-index: -1;
}

/* Position the container and set the stacking order */
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    flex: 1;
    max-width: 300px; /* Adjust as needed */
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: transform 0.3s ease; /* Add transition for hover effect */
    border: 0;
}

.card:hover {
    transform: translateY(-5px); /* Add slight lift on hover */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0; /* Rounded corners for the top */
    filter: blur(2px);
}

.intro {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
    background-color: #f8f9fa;
    padding: 0.5rem; /* Assuming p-2 refers to padding */
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.building {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Increase font size */
    font-weight: 700;
    color: #fff; /* Set text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255.5); /* Blue text shadow */
    text-align: center; /* Center align text */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    display: inline-block; /* Ensure inline display */
    text-transform: uppercase;
    text-decoration: none;
}

.material {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Increase font size */
    font-weight: 700;
    color: #fff; /* Set text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255.5); /* Blue text shadow */
    text-align: center; /* Center align text */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    display: inline-block; /* Ensure inline display */
    text-transform: uppercase;
    text-decoration: none;
}

.store {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Increase font size */
    font-weight: 700;
    color: #fff; /* Set text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255.5); /* Blue text shadow */
    text-align: center; /* Center align text */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    display: inline-block; /* Ensure inline display */
    text-transform: uppercase;
    text-decoration: none;
}

.get-aquote{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 119%;
    font-size: 30px; /* Increase font size */
    font-weight: 700;
    color: #fff; /* Set text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 255.5); /* Blue text shadow */
    text-align: center; /* Center align text */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    display: inline-block; /* Ensure inline display */
    text-transform: uppercase;
    text-decoration: none;
}


/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
    .second {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        /* Center align items vertically */
    }

    .card {
        max-width: calc(100% - 40px);
        /* Full width with some margin */
    }
}

@media only screen and (max-width: 480px) {
    .card {
        max-width: calc(100% - 40px);
        /* One card per row */
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-1 {
    font-size: 2rem;
    /* You can adjust the size as needed */
}

.street-six {
    font-style: italic;
    font-size: 1.3em;
}

.street-th {
    font-size: 0.8em;
    margin-left: -8px;
}

.street {
    font-style: italic;
    font-size: 1.3em;
}

.street-com {
    font-size: 0.8em;
}

