* {
    padding: 0px;
    margin: 0px;
}

/* Apply blur effect to the background image */
.banner-back {
    background-image: url(/assets/image/Flag-United-Arab-Emirates.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.blur{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    z-index: -1;
}

/* Position the container and set the stacking order */
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 24px;
}

.card {
    flex: 1;
    max-width: 300px; 
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 0;
    border: 2px solid #fff;
    border-radius: 10px;
  }

.intro {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    text-align: center;
    background-color: #f8f9fa;
    padding: 0.5rem; 
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.building {
    position: absolute;
    top: 65%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 24px; 
    font-weight: 500;
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none;
}

.material {
    position: absolute;
    top: 74%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 24px; 
    font-weight: 500;
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none;
}

.get-aquote{
    position: absolute;
    top: 56%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 24px; 
    font-weight: 500;
    color: #fff; 
    text-align: center; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none;
}

.for {
    position: absolute;
    top: 65%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 24px; 
    font-weight: 500;
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none;
}

.componies {
    position: absolute;
    top: 74%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 24px; 
    font-weight: 500;
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    text-decoration: none;
    text-align: justify;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    color: #fff;
    z-index: 2;
}

.mt-5 {
    margin-top: 5rem;
}

.fs-1 {
    font-size: 2rem;
}

.street-six {
    font-style: italic;
    font-size: 1.3em;
}

.street-th {
    font-size: 0.8em;
    margin-left: -8px;
}

.street {
    font-style: italic;
    font-size: 1.3em;
}

.street-com {
    font-size: 0.8em;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 376px) {
    .building {
        position: absolute;
        top: 68%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 22px; 
        font-weight: 500;
    }
    
    .material {
        position: absolute;
        top: 77%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 22px; 
        font-weight: 500;
    }
    
    .get-aquote{
        position: absolute;
        top: 60%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 22px; 
        font-weight: 500;
    }
    
    .for {
        position: absolute;
        top: 68%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 22px; 
        font-weight: 500;
    }
    
    .componies {
        position: absolute;
        top: 76%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 22px; 
        font-weight: 500;
    }
}

@media only screen and (max-width: 346px) {
    .building {
        position: absolute;
        top: 68%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 20px; 
        font-weight: 500;
    }
    
    .material {
        position: absolute;
        top: 77%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 20px; 
        font-weight: 500;
    }
    
    .get-aquote{
        position: absolute;
        top: 60%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 20px; 
        font-weight: 500;
    }
    
    .for {
        position: absolute;
        top: 68%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 20px; 
        font-weight: 500;
    }
    
    .componies {
        position: absolute;
        top: 76%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 20px; 
        font-weight: 500;
    }
}

@media only screen and (max-width: 321px) {
    .building {
        position: absolute;
        top: 65%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 18px; 
        font-weight: 500;
    }
    
    .material {
        position: absolute;
        top: 73%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 18px; 
        font-weight: 500;
    }
    
    .get-aquote{
        position: absolute;
        top: 56%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 18px; 
        font-weight: 500;
    }
    
    .for {
        position: absolute;
        top: 64%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 18px; 
        font-weight: 500;
    }
    
    .componies {
        position: absolute;
        top: 72%;
        left: 6%;
        transform: translateY(-50%);
        font-size: 18px; 
        font-weight: 500;
    }
}

@media only screen and (max-width: 768px) {
    .second {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        /* Center align items vertically */
    }

    .card {
        flex: 1;
        max-width: 300px; 
        margin: 20px;
        overflow: hidden;
        transition: transform 0.3s ease; 
    }
}

@media only screen and (max-width: 480px) {
    .card {
        max-width: calc(100% - 40px);
        /* One card per row */
    }
}